<html>
  <head></head>
  <body>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>
    <form>
    	<input type="text" name="guess" />
    	<input type="submit" name="Guess!" />
    	<p><%= message %></p>
    </form>
  </body>
</html>